/*GRID CONTAINER*/
.grid-container {
  background-image: url("Imagenes/gearpattern.jpg");
}

/*Header Cluster*/
.container-header{
  background-color: rgba(255,255,255,0.95);
}

#headlogo{
  display: block;
  width: 210px;
  height: 41px;
  margin: 7px auto;
}



/*Navigation Cluster*/
.container-navigation{
  background-color: rgba(26,45,79,0.95);
  text-align: center;
  color: white;
}

.container-navigation ul{
  line-height: 20px;
  width: 100%;
}

.container-navigation li{
  display: inline-block;
  text-transform: uppercase;
  margin: 0px 10px;
  font-size: 16px;
}

.container-navigation a{
  color: white;
  text-decoration: none;
}

.container-navigation li:hover{
  background-color: rgba(22,25,35,0.95);
}


/*Side Cluster*/
.container-side {

}


/*Footer Cluster*/
.container-footer{
  background-color: rgba(26,45,79,0.95);
  text-align: center;
  color: white;
}

.container-footer h4{
  font-size: 12px;
}



@media (min-width: 768px){

  #headlogo{
    display: block;
    width: 420px;
    height: 82px;
    margin: 13px auto;
  }

  .container-navigation li{
    margin: 0px 30px;
  }

}


@media (min-width: 1024px){

  #headlogo{
    display: block;
    width: 840px;
    height: 164px;
    margin: 18px auto;
  }

  .container-navigation ul{
    line-height: 30px;
    width: 100%;
  }

  .container-navigation li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 60px;
    font-size: 20px;
  }

}

@media (min-width: 1440px){


  .container-navigation ul{
    line-height: 30px;
    width: 100%;
  }

  .container-navigation li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 90px;
    font-size: 20px;
  }

}
