/*Index Page*/

/*Tarea CLuster*/
.tarea {
  line-height: 50px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
}

.tarea a {
  color: blue;
  text-decoration: none;
}

.tarea h3{
  vertical-align: middle;
}

/*Sidebar Cluster*/
.sidebar{
  display: none;
}

/*GRID CONTAINER - IPAD*/
@media (min-width: 768px) {

/*Semanas*/

  #semana1{
    background-image: url("Imagenes/logos/w1_logo.png");
  }

  #semana2{
    background-image: url("Imagenes/logos/w2_logo.png");
  }

  #semana3{
    background-image: url("Imagenes/logos/w3_logo.jpg");
  }

  #semana4{
    background-image: url("Imagenes/logos/w4_logo.jpg");
  }

  #semana5{
    background-image: url("Imagenes/logos/w5_logo.jpg");
  }

  #semana6{
    background-image: url("Imagenes/logos/w6_logo.jpg");
  }

  #semana7{
    background-image: url("Imagenes/logos/w7_logo.jpg");
  }

  #semana8{
    background-image: url("Imagenes/logos/w8_logo.jpg");
  }

  #semana9{
    background-image: url("Imagenes/logos/w9_logo.jpg");
  }

  #semana10{
    background-image: url("Imagenes/logos/w10_logo.jpg");
  }

  #semana11{
    background-image: url("Imagenes/logos/w11_logo.jpg");
  }

  #semana12{
    background-image: url("Imagenes/logos/w12_logo.jpg");
  }

  #semana13{
    background-image: url("Imagenes/logos/w13_logo.jpg");
  }

  #semana14{
    background-image: url("Imagenes/logos/w14_logo.jpg");
  }

  #semana15{
    background-image: url("Imagenes/logos/w15_logo.jpg");
  }

  #semana16{
    background-image: url("Imagenes/logos/w16_logo.jpg");
  }
}

/*Tarea CLuster*/
.tarea {
  line-height: 50px;
  border: 1px solid rgb(36,36,36);
  border-radius: 6px;
  text-align: center;
}

.tarea a {
  color: blue;
  text-decoration: none;
}

.tarea h3{
  vertical-align: middle;
}

/*GRID CONTAINER - LAPTOP M*/
@media (min-width: 1024px) {
  /*Sidebar Cluster*/
    .sidebar{
      display: block;
      float: left;
      width: 90px;
      margin-top: 30px;
      margin-left: 30px;
      background-color: rgba(255,255,255,0.95);
      position: fixed;
    }

    .sidebar h1{
      font-size: 10px;
      text-align: center;
    }

    #fotoindex{
      width: 70px;
      height: 70px;
      border-radius: 100%;
      margin: 10px 10px;
    }
}
