/*GRID CONTAINER*/
.grid-container {
  background-image: url("Imagenes/gearpattern.jpg");
}

/*Header Cluster*/
.container-header{
  background-color: rgba(255,255,255,0.95);
}

#headlogo{
  display: block;
  width: 210px;
  height: 41px;
  margin: 7px auto;
}

/*Navigation Cluster*/
.container-navigation{
  background-color: rgba(26,45,79,0.95);
  text-align: center;
  color: white;
}

.container-navigation ul{
  line-height: 20px;
  width: 100%;
}

.container-navigation li{
  display: inline-block;
  text-transform: uppercase;
  margin: 0px 10px;
  font-size: 16px;
}

.container-navigation a{
  color: white;
  text-decoration: none;
}

.container-navigation li:hover{
  background-color: rgba(22,25,35,0.95);
}

/*Left Cluster*/
.container-left {
  border: 1px solid grey;
}

/*Right Cluster*/
.container-right{
  border: 1px solid grey;
}

/*.contenido table{
  height: 750px;
  width: 100%;
  }

.contenido th{
  border: 1px solid gray;
  text-align: left;
  vertical-align: top;
}

.contenido th h2{
  background-color: rgba(206,19,23, 0.95);
  color: white;
  width: 100%;
  text-align: left;
  padding-left: 1em;
  position: relative;
  top: 0px;
  }

.contenido th ul{
  padding: 30px;
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
}
.contenido td{
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding: 30px;
}

.contenido h1{
  text-align: justify;
  margin-bottom: 1em;
}

.contenido h2{
  text-align: justify;
  margin-bottom: 1em;
}

.contenido h3{
  text-align: justify;
  margin-top: 1em;
  font-size: 20px;
  font-weight: lighter;
}
*/

/*Footer Cluster*/
.container-footer{
  background-color: rgba(26,45,79,0.95);
  text-align: center;
  color: white;
}

.container-footer h4{
  font-size: 12px;
}

@media (min-width: 768px){

  #headlogo{
    display: block;
    width: 420px;
    height: 82px;
    margin: 13px auto;
  }

  .container-navigation li{
    margin: 0px 30px;
  }

}


@media (min-width: 1024px){

  #headlogo{
    display: block;
    width: 840px;
    height: 164px;
    margin: 18px auto;
  }

  .container-navigation ul{
    line-height: 30px;
    width: 100%;
  }

  .container-navigation li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 60px;
    font-size: 20px;
  }

}

@media (min-width: 1440px){


  .container-navigation ul{
    line-height: 30px;
    width: 100%;
  }

  .container-navigation li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 90px;
    font-size: 20px;
  }

}
