/*General*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  background-image: url("Imagenes/gearpattern.jpg");
}

/*Header Cluster*/
header{
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  border: 1px solid gray;
  text-align: center;
}

#headlogo{
  width: 1000px;
  height: 200px;
  margin-top: 1em;
}

/*Navigation Cluster*/
.navigation{
  background-color: rgb(36,36,36);
  height: 50px;
  text-align: center;
  color: white;
}

.navigation ul{
  margin: 0;
}

.navigation li{
  width: 100px;
  display: inline-block;
  margin: 0px 50px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 0px;
}

.navigation a{
  color: white;
  text-decoration: none;
}

.navigation a:hover{
  color: gray;
}

/*Contenido Cluster*/

.contenido a{
  color: black;
  text-decoration: none;
}

.contenido a:hover{
  color: gray;
}

#contenidoindex a{
  color: white;
  text-decoration: none;
}

#contenidoindex a:hover{
  color: gray;
}

.contenido{
  min-height: 750px;
  margin-left: 200px;
  margin-right: 200px;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255,255,255,0.95);
}

#contenidoabout {
  padding: 0em 3em;
}

#contenidoassignment {
  padding: 0em 3em;
}

.contenido table{
  height: 750px;
  width: 100%;
}

.contenido td{
    width: 50%;
  text-align: center;
}

.contenido h1{
  text-align: justify;
  margin-bottom: 1em;
}

.contenido h2{
  text-align: justify;
  margin-bottom: 1em;
}

.contenido h3{
  text-align: justify;
  margin-top: 1em;
  font-size: 20px;
  font-weight: lighter;
}


/*Index Page*/
.tarea {
  text-align: center;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 5px 5px;
  background-image: url("Imagenes/GnomeWorkPNG.png");
  background-size: cover;
  border: 5px solid rgb(36,36,36);
  border-radius: 6px;
}

.tarea h3{
  background-color: rgb(36,36,36);
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  padding: 35px 0px;
  margin: 200px 0px;
}

#semana1{
  background-image: url("Imagenes/webcode.png");
}

#semana2{
  background-image: url("Imagenes/CADweek2.png");
}

#semana3{
  background-image: url("Imagenes/lasercut.jpg");
}

#semana4{
  background-image: url("Imagenes/week4logo.jpg");
}

#semana5{
  background-image: url("Imagenes/week5logo.jpg");
}

#semana6{
  background-image: url("Imagenes/week6logo.jpg");
}

#semana7{
  background-image: url("Imagenes/week7logo.jpg");
}

#semana9{
  background-image: url("Imagenes/week9logo.jpg");
}

#finalp{
  background-image: url("Imagenes/finalplogo.jpg");
}

.sidebar{
    float: left;
  width: 180px;
  margin-top: 3em;
  margin-left: 10px;
  background-color: rgba(255,255,255,0.95);
  position: fixed;
}

.sidebar h1{
  font-size: 20px;
  text-align: center;
}

#fotoindex{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 2em 1.75em;
}

/*About and Assignment Page*/
#fotoabout{
    width: 400px;
  height: 400px;
  border-radius: 100%;
}

/*Footer Cluster*/
footer{
  background-color: rgb(36,36,36);
  height: 35px;
  text-align: center;
  color: white;
  border: 1px solid gray;
}

footer h4{
  width: 100%;
  font-size: 15px;
  margin: 0;
}
