/*Index Page*/

.container-main table{
  background-color: rgba(255,255,255,0.95);
  }

.container-main th{
  border: 1px solid gray;
  text-align: left;
  vertical-align: top;
}

.container-main th h2{
}

.container-main th ul{
}

.container-main td{
  width: 50%;
  border: 1px solid grey;
  margin: auto;
  text-align: center;
  vertical-align: top;
  padding-top: 50px;
  padding: 30px;
}

.container-main h1{
  text-align: justify;
  margin-bottom: 1em;
}

.container-main h2{
  border-bottom: 1px solid green;
  text-align: justify;
  font-size: 20px;
  margin-bottom: 1em;
}

.container-main h3{
    text-align: justify;
  margin-top: 1em;
  font-size: 16px;
  font-weight: lighter;
}

/*GRID CONTAINER - IPAD*/
@media (min-width: 768px) {


}

/*GRID CONTAINER - LAPTOP M*/
@media (min-width: 1024px) {

  /*Sidebar Cluster*/
  .sidebar{
    margin: 30px 15px 30px;
    background-color: rgba(255,255,255,0.95);
    border: 1px solid grey;
    font-size: 14px;
  }

  .sidebar th{
    line-height: 50px;
    text-align: left;
    padding-left: 1em;
    border-bottom: 1px solid red;
  }

  .sidebar td{
    text-align: justify;
  }

  .sidebar h1{
    font-size: 20px;
  }

  .sidebar li{
    padding: 1em 0.5em 1em 0em;
    margin-left: 1.5em;
    list-style-type: circle;
  }

  .objectives{
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
  }

  .objectives li{
    padding: 1em 0.5em 1em 0em;
    margin-left: 1.5em;
    list-style-type: circle;
  }

  .tools{
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
  }

  .workflow{
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
  }

  .workflow li{
    list-style-type: decimal;
  }

  }

/*GRID CONTAINER - LAPTOP L*/
@media (min-width: 1440px) {

}
